.main-section {
  //display: none;

  &.active {
    //display: inline;
  }
}

.dialog {
  //display: none;

  &.active {
    //display: inline;
  }
}

.post-entry {
  background-color: #EEEEEE;
  border-color: darkgray -moz-use-text-color;
  border-left: medium solid;
  border-right: medium solid;
  border-style: solid;
  border-width: 1px medium;
  margin: -1px 0;
  padding: 10px;
}