# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp

/config/application.yml
/config/mongoid.yml
/config/secrets.yml

/public/img/photos/*

*.gem
*.rbc
.config
coverage
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.idea
*.iml
.sass-cache
*.tmp
temp/
.rakeTasks

/photo_storage/full/*
/photo_storage/thumb/*
/photo_storage/profiles/*