# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

/config/initializers/secret_token.rb

*.gem
*.rbc
.config
coverage
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.idea
*.iml
.sass-cache
*.tmp
temp/
.rakeTasks
