<div class="form-horizontal" style='margin-top: 10px;'>
  {{#if reply_post_type}}
    {{ view Twitarr.PostAutoView }}
    <button class="btn btn-primary pull-right btn-xs" style="margin-top: 5px;" {{ action 'make_post' }}>Post it</button>
  {{else}}
    Seamail type!
  {{/if}}
</div>
