<div>
  <span class="pull-right">
    {{#linkTo "seamail.inbox" class="btn btn-info btn-xs"}}Inbox{{/linkTo}}
    {{#linkTo "seamail.outbox" class="btn btn-info btn-xs"}}Outbox{{/linkTo}}
  </span>

  <h3>Archive</h3>
  {{#each mail in controller.seamail}}
    <div class='seamail-entry container'>
      {{ render "seamail/details" mail }}
    </div>
  {{else}}
    {{#unless loading}}
      <div>
        Nothing archived
      </div>
    {{/unless}}
  {{/each}}
  {{partial 'loading'}}
</div>
{{partial 'bottomMenu'}}
