<div class="main-page-header header-with-controls">
  <span class="controls">
    {{#unless read_only}}
    <button class="btn" {{action 'compose_seamail'}}>New Seamail</button>
    {{/unless}}
    <button class="btn" {{action 'reload'}}>Refresh</button>
  </span>

  <div class="title">Seamails</div>
</div>

<div class="display_card">
  {{#each seamail in model}}
    {{render "seamail.meta_partial" seamail}}
  {{else}}
    <div class="card-section">
      No seamail!
    </div>
  {{/each}}
</div>
