<div class="main-page-header header-with-controls">
  <span class="controls">
    {{#link-to "seamail.new"}}New Seamail{{/link-to}}
    <a href="#" {{action 'reload'}}>Refresh</a>
  </span>

  <div class="title">Seamails</div>
</div>

<div class="display_card">
{{#each seamail in model}}
  {{render "seamail.meta_partial" seamail}}
{{else}}
    <div class="card-section">
      No seamail!
    </div>
{{/each}}
</div>
