<div class="main-page-header">
  <span class="controls">
    <button class="btn" {{action 'compose_seamail'}}>New Seamail</button>
  </span>

  <div class="title">Seamail
    <button class="btn btn-link" {{action 'reload'}}><span class="glyphicon glyphicon-repeat" title="Refresh"></span>
    </button>
  </div>
</div>

<div class="display_card">
  {{#each seamail in model}}
    {{render "seamail.meta_partial" seamail}}
  {{else}}
    <div class="card-section">
      No seamail!
    </div>
  {{/each}}
</div>
