<span class="pull-right">
  {{#link-to "seamail.new"}}New Seamail{{/link-to}}
  <button {{action 'reload'}}>Refresh</button>
</span>

<h4>
  Seamails
</h4>

{{#each}}
  <div class="stream-post">
    <div>
      <span class="author">
        {{#link-to 'seamail.detail' id}}{{users_display}}{{/link-to}}
      </span>
      <span class="timestamp">
        last message: {{pretty_timestamp}}
      </span>
    </div>
    <div class="text">
      {{messages}} messages
    </div>
  </div>
{{/each}}
