<h4>New seamail</h4>
Users (space-separated)
{{input value=users class='input'}}
Subject
{{input value=subject class='input'}}
Text
{{textarea value=text rows='5' class='input'}}

<button {{action 'new'}}>Create</button>

