<div class="main-page-header header-with-controls">
  <span class="controls">
    <button class="btn" {{action 'create_forum'}}>Create Forum</button>
    <button class="btn" {{action 'reload'}}>Refresh</button>
  </span>

  <div class="title">Forums</div>
</div>

<div class="display_card">
  {{#each forum in model}}
    {{render "forums.meta_partial" forum}}
  {{/each}}
</div>
