<div class="main-page-header">
  <span class="controls">
    {{#link-to "forums.new"}}Create Forum{{/link-to}}
    <button {{action 'reload'}}>Refresh</button>
  </span>
  <h4>Forums</h4>
</div>

{{#each}}
  <div class="forum-meta">
    <div class="subject">
      {{#link-to 'forums.detail' id}}{{subject}}{{/link-to}}
      <span class="details">
        {{posts}} - {{pretty_timestamp}} ago
      </span>
    </div>
  </div>
{{/each}}
