<span class="pull-right">
  {{#link-to "forums.new"}}New Forum{{/link-to}}
  <button {{action 'reload'}}>Refresh</button>
</span>

<h4>
  Forums
</h4>

{{#each}}
  <div class="stream-post">
    <div>
      <span class="author">
        {{#link-to 'forums.detail' id}}{{subject}}{{/link-to}}
      </span>
      <span class="timestamp">
        last message: {{pretty_timestamp}}
      </span>
    </div>
    <div class="text">
      {{posts}} posts
    </div>
  </div>
{{/each}}
