<div class="card-section clickable" {{action 'display_forum' id}}>
  <span class="title">
    {{unbound posts}}
  </span>
  {{unbound pretty_timestamp timestamp}}

  <div class="body">
    <div class="body-section">
      {{unbound subject}}
    </div>
  </div>
</div>
