<div class="card-section clickable" {{action 'display_forum' id}}>
  <span class="title">
    {{posts}}
  </span>
  {{pretty_timestamp timestamp}}

  <div class="body">
    <div class="body-section">
      {{subject}}
    </div>
  </div>
</div>
