<div class="card-section clickable" {{action 'display_forum' id}}>
  <span class="title big-title">
    {{unbound subject}}
  </span>
  {{unbound pretty_timestamp timestamp}}

  <div class="form">
  </div>

  <div class="controls">
    {{unbound posts}}
  </div>
</div>
