<html>
<head>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Photo preview</title>
</head>
<a href="/img/photos/<%= @photo %>">
  <img src="/img/photos/md_<%= @photo %>" style="width: 100%;"/>
</a>
<div>
  Click to download full size image.
</div>
</html>