<div class="main-page-header header-with-controls">
  <div class="controls">
    <button {{action 'reload'}}>Refresh</button>
  </div>

  <div class="title">Tweets</div>
</div>

{{#each user in model}}
  <div class="display_card">
    {{render "admin.user_partial" user}}
  </div>
{{/each}}

