<div id="help_page">
  <div class="clearfix">
    <%= image_tag '/img/jellyfish.png', style: 'height: 150px; margin-left: 0.5em;', class: 'pull-left' %>

    <h3>Need some help?</h3>
  </div>

  <h4>What is going on here?</h4>

  <p>
    Twit-arr is a microblogging site that the various nerds of the Joco Cruise Crazy have set up for internal communication
    while the cruise is under way.
  </p>

  <h4>How do I get in on this?</h4>

  <p>
    You can explore and read the posts without any real effort on your part, just browse. If you'd like to contribute then
    feel free to go to the login page and register as a new user, at which point you can send Seamails and make posts.
  </p>

  <h4>What's with all the funny @ and # signs?</h4>

  <p>
    <span class="bold">#</span> signs signify hashtags. It allows you to tag a post with a word or phrase that will make it
    easier to
    find. For example, tagging all posts with cat pictures under #cats. Clicking on the hashtag in a post will
    take you to a list of all posts containing that hash tag. Hash tags end at the first space character after the tag.
  </p>

  <p>
    <span class="bold">@</span> signifies a user handle. If you've signed up for Twit-arr then your handle is your login name
    with an @ before it.
    Examples include @kvort and @dave. Placing a user handle in a post can bring that post to that user's attention. Handles
    are also used for sending Seamail.
  </p>

  <h4>What's a seamail?</h4>

  <p>
    Seamail is our name for email. They don't go onto the internet and can only be sent to other Twit-arr users on the ship.
  </p>

  <h4>Cruise Monkey?</h4>

  <p>
    Cruise Monkey is an iPhone and Android app built by RangerRick. It uses the same login information as Twit-arr but
    is not technically the same thing. Which is why you may get redirected if you ask the wrong person about the wrong app. :)
  </p>

  <h4>My Twit-arr doesn't work!</h4>

  <p>
    Technically not a question. However, here are solutions for a number of issues:
  </p>
  <ul>
    <li>If you're having problems getting to Twit-arr, it may be the ship's network. In common areas such as the theatre
      or the game room, there may be simply too many people trying to get onto the network. Think midgets in a clown car.
      Your stateroom may be the best place to connect from.
    </li>
    <li>
      If you've forgotten your login, then you can try the password recovery page (link is on the login page). If you absolutely
      can't get back in, you have two options: find one of the Twit-arr admins (<span class="bold">@kvort</span> or
      <span class="bold">@origamislayer</span>) or just create a new account. They are free, after all.
    </li>
    <li>
      (<span class="bold">@kvort</span> reserves the right to charge for password resets in alcoholic beverages)
    </li>
    <li>
      If something else is broken but you can login, then feel free to send a Seamail to <span class="bold">@kvort</span>.
      Depending on the severity it may not get fixed this cruise, but he'll record it to fix for the next cruise.
    </li>
    <li>
      If none of these apply to you then your best bet is to seek out @kvort. He rarely bites.
    </li>
  </ul>

  <h4>Who did this?</h4>

  <div>
    Twit-arr is a labor of love, and a large group of contributers are responsible:
    <ul>
      <li>Grimoire developed the initial Status.net site that was on JCCC2 and 3.</li>
      <li>GBadsen graciously brings the laptop server and provides technical support.</li>
      <li>Kvort decided that he hated Status.net enough to rebuild the codebase for JCCC4.</li>
      <li>Origamislayer did much work for the Status.net implementation as well.</li>
      <li>RangerRick builds CruiseMonkey and integrates with the Twit-arr APIs.</li>
      <li>Beth contributed code that allowed her to have her chosen handle. :)</li>
      <li>None of this would be here without the invaluable aid of the beta testers & forum contributants:
        agentpayne, antijenic, arenson9, arthart, auntilaura, autojim, benji, beth, bort, brian, burnumd,
        chicazul, cogitoergoconsume, cromely, dcwlopez, disorderly, dndgirl, doolbneerg, eclipse, elliomeg,
        erik, famoustracy, gbasden, ghalidrim, glenraphael, grimoire, hendusoone, ja5on, kashu, katiewarren,
        keeksg, keithkaos, kimbee, korus99, kumamore, ladybeardhat, lewdaniel, lilamp, liliy,
        lissa, lmac54, lyssapearl, matmontgomery, maxtemkin, melawnie, mikekn, mikesphar, mizzie,
        moura, oatmealpie, oboewan, origamislayer, oxocube75, paintedlady, physicistlisa, piebob, plasmar,
        profbeard, quietjay, rangerrick, redredgroovy, renrn, rhaje, sandrylene, simalot, snoopy, sparky1961,
        spstapleton, sus, tasermonkey, terrorbyte, theanderblast, thefoodgeek, thejakeao, timnlill,
        tmentz1, triluna, trishalynn, ukyo, weberic, wizzer2801, wubti
      </li>
    </ul>
  </div>
</div>
