<div id='announcements'>
  <form class="form-horizontal">
    <legend>Make an announcement</legend>
    <div class="form-group validation-error-group">
      <div class="col-sm-offset-2 col-sm-8 validation-error">{{ errors.text }}</div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-8">
        {{ view Ember.TextArea rows='3' class='form-control' placeholder='Write!' valueBinding='text' }}
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2">Pin hours</label>

      <div class="col-sm-1">
        {{ view Ember.TextField valueBinding='offset'}}
      </div>
      <div class="col-sm-5">
        This is the number of hours that this announcement will be pinned to the top of post lists.
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-5">
        <button class="btn btn-primary" {{ action 'send' }}>Post</button>
      </div>
    </div>
  </form>
</div>
