{{ view Ember.TextField valueBinding='toInput' id='to-autocomplete' autocomplete='off'}}
{{#if searchResults}}
  <div class="open dropdown post-autocomplete">
    <ul class="dropdown-menu" id="to-autocomplete-dropdown">
      {{#each searchResults}}
        <li><a role="menuitem" class="to-autocomplete-item" href="#" {{ action 'select' this }}>{{this}}</a></li>
      {{/each}}
    </ul>
  </div>
{{/if}}
