<div class="main-page-header header-with-controls">
  <div class="controls">
    <button class="btn" ng-click="toggle_new_post()" ng-if="user.loggedIn">New Post</button>
    <button class="btn" id="refreshButton" ng-click="refresh()">Refresh</button>
  </div>

  <div class="title">Tweets</div>
</div>

<div class="display_card" ng-if="new_post_visible">
  <div class="card-section">
    <form ng-controller="NewPostCtrl" ng-submit="submit(newpost)">
      <textarea rows="3" class="input" name="text" ng-disabled="submitting" ng-class="{disabled: submitting}" ng-model="newPost.text"></textarea>
      <!-- {{view 'upload'}} -->

      <ul class="errors-list">
        <li ng-repeat="error in errors">{{error}}</li>
      </ul>
      <a class="btn left" ng-if="newPost.text.toLowerCase().indexOf('meow') > -1 || like_button == 'meow'" ng-click="toggle_meow()">Meow</a>
      <span class="controls">

        <button class="btn" ng-disabled="submitting"  ng-class="{disabled: submitting}" ng-click="toggle_new_post()">Cancel</button>
        <button type="submit" ng-disabled="newPost.text.length <= 0 || submitting" ng-class="{disabled: newPost.text.length <= 0 || submitting}" class="btn">Post</button>
      </span>
    </form>
  </div>
</div>

<div class="display_card" ng-repeat="post in posts track by post.id" ng-include="'/stream/post_partial.html'">
</div>

<div class="display_card center" ng-if="loading_posts">
  <h4>Loading...</h4>
</div>