<div class="main-page-header header-with-controls">
  <div class="controls">
    <button class="btn" ng-click="toggle_new_post()" ng-if="new_post_button_visible">New Post</button>
    <button class="btn" ng-click="reloadTweets()">Refresh</button>
  </div>

  <div class="title">Tweets</div>
</div>

<div class="display_card" ng-if="new_post_visible">
  <div class="card-section">
    <div class="form">
      <textarea rows="3" class="input"></textarea>
      <!-- {{view 'upload'}} -->

      <ul class="errors-list">
        <!-- {{#each error in errors}}
          <li>{{error}}</li>
        {{/each}} -->
      </ul>
      <span class="controls">
        <button class="btn" ng-click="toggle_new_post()">Cancel</button>
        <button class="btn" {{action 'new'}}>Post</button>
      </span>
    </div>
  </div>
</div>

<div class="display_card" ng-repeat="post in posts track by post.id">
  <ng-include src="'/stream/post_partial.html'"></ng-include>
</div>

<div class="display_card center" ng-if="loading_posts">
  <h4>Loading...</h4>
</div>

<!--
<div class="footer-controls">
   {{#if has_next_page}}
    <div class="card-section">
      <button class="controls btn" {{action 'next_page'}}>Next</button>
    </div>
  {{/if}}
</div>
-->