<%= form_tag(user_forgot_password_path, class: 'form-horizontal') do %>
  <legend>Forgot password</legend>
  <div style="margin-top: 1em;">
    If you've forgotten your password, then please enter your username below to reset.
  </div>
  <div class="form-group">
    <label for="username">Username</label>

    <%= text_field_tag :username, params[:username], class: 'form-control' %>
  </div>
  <div style="margin-top: 1em;">
      <%= submit_tag 'Get security question', class: 'btn btn-primary' %>
  </div>
<% end %>

<h4><%= link_to 'Never mind, I remembered the password!', login_path %></h4>
