<div class="main-page-header">
  <h4>Post to stream</h4>
</div>
{{textarea value=new_post rows='5' class='input'}}

<ul class="errors-list">
  {{#each error in errors}}
    <li>{{error}}</li>
  {{/each}}
</ul>
<button {{action 'new'}}>Post</button>
