<div class="main-page-header">
  <h4></h4>
  <div class="title">{{#link-to 'stream.index'}}Tweets{{/link-to}} > new</div>
</div>

{{textarea value=new_post rows='3' class='input'}}
{{view 'upload'}}

<ul class="errors-list">
  {{#each error in errors}}
    <li>{{error}}</li>
  {{/each}}
</ul>
<button class="btn" {{action 'new'}}>Post</button>
