<div class="main-page-header">
  <h4>Post to stream</h4>
</div>
{{textarea value=new_post rows='5' class='input'}}

<ul class="errors-list">
  {{#each error in errors}}
    <li>{{error}}</li>
  {{/each}}
</ul>
<button {{action 'new'}}>Post</button>

<span id="photo-upload-div" style="width: 200px; height: 100px; border: 1px solid black;" class="pull-right mini-upload">
  Drop files here
</span>
<input style="display: none" id="fileupload" type="file" name="files[]" data-url="/photo/upload" accept="image/*" multiple>
