<div class="main-page-header">
  <span class="controls">
    {{#if logged_in}}
      {{#link-to "stream.new"}}Reply{{/link-to}}
    {{/if}}
    <a href="#" {{action 'reload'}}>Refresh</a>
  </span>
  <h4>Tweets</h4>

</div>
<div class="display_card">
  {{render "stream.post_partial" model}}

  {{#each child in children}}
    {{render "stream.post_partial" child}}
  {{/each}}
</div>
