{{#if view.scroll_distance}}
  <div class="scroll-display" {{bind-attr style="view.display_scroll_style"}}>
    <div class="inner-scroll-display">
      {{#if view.is_checking}}
        Checking for new posts.
      {{else}}
        {{#if view.max_distance}}
          Release to refresh.
        {{else}}
          Pull down to refresh.
        {{/if}}
      {{/if}}
    </div>
  </div>
{{/if}}
<button class="btn btn-link pull-right" {{ action 'checkNew' }}>Check for new items</button>
