{{view Ember.TextArea class='full-width box-sizing-border' placeholder='Say something!' valueBinding='newPost'}}
<button class='pull-right' style="display: block" {{ action 'make_post' }}>Post it</button>
