<div style='margin-top: 10px;'>
  {{view Ember.TextArea class='form-control' placeholder='Say something!' valueBinding='newPost'}}
  <button class="btn btn-primary pull-right" style="margin-top: 5px;" {{ action 'make_post' }}>Post it</button>
</div>
