{{#each post in controller.posts}}
  {{ render "entry/details" post }}
{{else}}
  {{#unless loading}}
    <div>
      No posts!
    </div>
  {{/unless}}
{{/each}}
{{#if loading}}
  <img src="img/ajax-loader.gif" class="loading-gif">
{{/if}}
<nav class="navbar navbar-inverse navbar-fixed-bottom visible-xs" style="padding: 0 15px;">
  <div class="navbar-center" style="max-width: 850px;">
    <button class="btn btn-default navbar-btn">New Post</button>
    <button class="btn btn-default navbar-btn pull-right" {{ action 'reload' }}>Refresh</button>
  </div>
</nav>
<nav class="navbar navbar-inverse navbar-fixed-bottom hidden-xs bottom-menu-rounded">
  {{#if logged_in}}
    {{#linkTo "create_post" classNames="btn btn-default navbar-btn"}}New Post{{/linkTo}}
  {{/if}}
  <button class="btn btn-default navbar-btn" {{ action 'reload' }}>Refresh</button>
</nav>
