{{#each post in controller.posts}}
  {{ render "entry/details" post }}
{{else}}
  {{#unless loading}}
    <div>
      No posts!
    </div>
  {{/unless}}
{{/each}}
{{partial 'loading'}}
{{partial 'bottomMenu'}}
