{{#if view.scroll_count}}
  <div {{bind-attr class='view.display_scroll_class'}}></div>
  <div style="text-align: center; color: darkgreen;">
    {{#if view.is_checking}}
      Checking for new posts
    {{else}}
      Keep scrolling
    {{/if}}
  </div>
{{/if}}
<button class="btn btn-link pull-right" {{ action 'checkNew' }}>Check for new items</button>
<h3>Feed</h3>
{{ partial 'posts/list' }}
