{{ partial 'posts/scroll_view' }}
<div>
  <h3>@{{user}}</h3>
  {{#if logged_in}}
    <div style="margin-bottom: 0.8em;" >
      <a href="#" {{ action 'message' user }}>
        <span class="glyphicon glyphicon-send"></span>
        Send Message
      </a>
    </div>
  {{/if}}
</div>
{{ partial 'posts/list' }}
