{{ partial 'posts/scroll_view' }}
<div>
  {{#if logged_in}}
    <div class="pull-right">
      <a href="#" class="margin-right-20" {{ action 'message' user }}>
        <span class="glyphicon glyphicon-send"></span>
        Send Message
      </a>
    </div>
  {{/if}}
  <h3>@{{user}}</h3>
</div>
{{ partial 'posts/list' }}
