{{ partial menu }}
<div class='main'>
  {{#if display_new_email_link}}
    {{#linkTo "seamail.inbox"}}
      <div style="margin-top: 7px; text-align: center; background-color: lightgoldenrodyellow;">You have new Seamail!</div>
    {{/linkTo}}
  {{/if}}
  {{#unless hide_login_link}}
    <div style="margin-top: 7px; text-align: center;">
      {{#linkTo "login"}}Login to see your personalized Twit-arr{{/linkTo}}
    </div>
  {{/unless}}
  {{ outlet }}
</div>
