{{ partial menu }}
<div class='main'>
  {{ outlet }}
</div>
<div class="pull-right">
  <span class="visible-desktop">desktop</span>
  <span class="visible-tablet">tablet</span>
  <span class="visible-phone">phone</span>
</div>
