<div id="help_page">
  <div class="clearfix">
    <img alt="Jellyfish" class="pull-left" src="/img/jellyfish.png" style="height: 150px; margin-left: 0.5em;">

    <h3>Need some help?</h3>
  </div>

  <h4>What is going on here?</h4>

  <p>
    Twit-arr is a microblogging site that the Shadow IT department of the Joco Cruise have set up for internal communication
    while the cruise is under way.
  </p>

  <h4>How do I get in on this?</h4>

  <p>
    You can explore and read the posts without any real effort on your part, just browse. If you'd like to contribute then
    feel free to go to the login page and register as a new user, at which point you can send Seamails and make posts.
  </p>

  <h4>What's with all the funny @ and # signs?</h4>

  <p>
    <span class="bold">#</span> signs signify hashtags. It allows you to tag a post with a word or phrase that will make it
    easier to
    find. For example, tagging all posts with cat pictures under #cats. Clicking on the hashtag in a post will
    take you to a list of all posts containing that hash tag. Hash tags end at the first space character after the tag.
  </p>

  <p>
    <span class="bold">@</span> signifies a user handle. If you've signed up for Twit-arr then your handle is your login name
    with an @ before it.
    Examples include @kvort and @dave. Placing a user handle in a post will bring that post to that user's attention. Handles
    are also used for sending Seamail.
  </p>

  <h4>What's a seamail?</h4>

  <p>
    Seamail is our name for email. They don't go onto the internet and can only be sent to other Twit-arr users on the ship. Just start
    typing a username or handle and twitarr will give you a list of people who match.
  </p>

  <h4>Cruise Monkey?</h4>

  <p>
    Cruise Monkey is an iPhone and Android app built by RangerRick. It uses the same login information as Twit-arr but
    is not technically the same thing. Which is why you may get redirected if you ask the wrong person about the wrong app. :)
  </p>

  <h4>My Twit-arr doesn't work!</h4>

  <p>
    Technically not a question. However, here are solutions for a number of issues:
  </p>
  <ul>
    <li>If you're having problems getting to Twit-arr, it may be the ship's network. In common areas such as the theatre
      or on deck or the game/dining room, there may be simply too many people trying to get onto the network. Think midgets in a clown car.
      Your stateroom may be the best place to connect from.
    </li>
    <li>Also like any other complex piece of software, something occasionally goes wrong. We'll try and fix it as soon as
      we can, but remember that we're also on vacation. :)
    </li>
    <li>
      If you've forgotten your login, then you can try the password recovery page (link is on the login page). If you absolutely
      can't get back in, you have two options: find one of the Twit-arr admins (<span class="bold">@gbasden</span>,
      <span class="bold">@grundoon</span>, or <span class="bold">@rangerrick</span>, who are collectively also the team account <span class="bold">@TwitarrTeam</span>) or just create a new account.
      They are free, after all.
    </li>
    <li>
      If something else is broken but you can login, then feel free to send a Seamail to <span class="bold">@TwitarrTeam</span>.
      Depending on the severity it may not get fixed this cruise, but it'll be recorded to fix for the next cruise.
    </li>
    <li>
      If none of these apply to you then your best bet is to seek out <span class="bold">@grundoon</span>.
    </li>
  </ul>

  <h4>Who did this?</h4>

  <div>
    Twit-arr is a labor of love, and a large group of contributers are responsible:
    <ul>
      <li>Grimoire developed the initial Status.net site that was on JCCC2 and 3.</li>
      <li>Glenn Basden graciously brings the laptop server and provides technical support.</li>
      <li>Nathan Walker (kvort) decided that he hated Status.net enough to rebuild the codebase for JCCC4. For JCC5 he was joined in his
        quest by Emily Ozols (wingar) and James Stapleton (tasermonkey).
      </li>
      <li>RangerRick builds CruiseMonkey and integrates with the Twit-arr APIs.</li>
      <li>Origamislayer did much work for the Status.net implementation as well.</li>
      <li>grundoon attempts to step up when needed.</li>
      <li>None of this would be here without the invaluable aid of the beta testers, who try out our software on the many, MANY
        mobile devices that are out there.
      </li>
    </ul>
  </div>
</div>
