{{#unless controllers.application.logged_in}}
  Not logged in. <a href="/login">Login.</a>
{{else}}
  Hello {{ controllers.application.display_name }}! <a tabindex='-1' href='#' {{ action logout }}>Logout</a>
{{/unless}}
