<div id="help_page">
  <div class="clearfix">
    <h3>What time is it?</h3>
  </div>

  <p>
    Joco Cruise will be doing some time zone changes throughout the cruise. The server that Twitarr runs on will be
    changing its time zone to match ship time as we travel. Since your phone is probably in airplane
    mode, it probably won't automatically "know" what time zone you're in.
  </p>
  <p>
    We'll be in PST for the first day and last day of the cruise, and in MST for the other days of the cruise.
  </p>

  <h4>Time on server: {{unbound server_time}}</h4>

  <h4>Time on your device: {{unbound device_time}}</h4>

  <br />
  <p>
    If the two times above are different, you should change the time zone on your device until they match. This
    should be in your settings somewhere, but if you can't find it, ask a tech nerd. The good news is, there's
    probably one nearby.  :)
  </p>
</div>
