<div id="photo-upload-div">
  {{#if controllers.application.uploads_pending}}
    <div class="uploading">Uploading...</div>
  {{else}}
    Click to add a photo
  {{/if}}
</div>
<div id="photo-display">
  {{#each photo in photos}}
    <div class="photo-container">
      {{log 'photo: ' photo}}
      <img class="close" {{action 'remove_photo' photo.id}} src="/img/close-icon.png" />
      {{render 'photo_mini' photo }}
    </div>
  {{/each}}
</div>
<input id="fileupload" type="file" name="files[]" data-url="/photo/upload" accept="image/*" multiple>
