@-webkit-viewport {
  width: device-width;
}

@-moz-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

@mixin border-radius($radius: 5px) {
  border-radius: $radius;
}

@mixin transform($params) {
  -ms-transform: $params;
  -moz-transform: $params;
  -webkit-transform: $params;
  -o-transform: $params;
  transform: $params;
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@include keyframes(loading-ring) {
  0% {
    @include transform(rotate(0deg))
  }
  100% {
    @include transform(rotate(360deg))
  }
}

@mixin animation($params) {
  -ms-animation: $params;
  -moz-animation: $params;
  -webkit-animation: $params;
  -o-animation: $params;
  animation: $params;
}

#app-loading {
  background: none;
  position: relative;
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  div {
    position: absolute;
    display: block;
    width: 80%;
    height: 80%;
    top: 20%;
    left: 20%;
    border-radius: 100%;
    box-shadow: 0 2px 0 0 #052f45;
    @include animation(loading-ring 0.7s linear infinite);
  }
}

img.emoji {
  height: 18px;
  width: 18px;
}

.input {
  width: 100%;
  border: 1px solid #ccc;
  font-size: large;
  margin-top: 0.3em;
  @include border-radius(4px);
  padding: 0.1em 0.4em;
  transition: border-color ease-in-out .15s;

  &.input-short {
    width: 10em;
  }

  &:focus {
    border-color: #66afe9;
  }
}

.errors-list {
  color: darkred;
  list-style: none;
}

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

#main {
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px;
  margin-top: 50px;
  padding: 1em;
}

.static-main {
  margin-top: 1em;
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px;
  padding: 1em;
}

@media (max-width: 480px) {
  #main {
    padding-left: 0;
    padding-right: 0;
  }
  .static-main {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 767px) and (min-width: 480px) {
  #main {
    padding-left: 10px;
    padding-right: 10px;
  }
  .static-main {
    padding-left: 10px;
    padding-right: 10px;
  }
}

#help_page {
  h4 {
    margin-top: 1.5em;
  }

  .bold {
    font-weight: bold;
  }
}

.btn {
  border: none;
  padding: 4px 7px;
  background-color: #547d92;
  color: white;

  &:hover, &:focus {
    outline: none;
    background-color: #6e96ab;
    text-decoration: none;
  }
}

.btn-link {
  border-color: transparent;
  background-color: transparent;
  color: #337ab7;
  padding: 0.2em;

  &:hover, &:focus {
    color: #2a6496;
    text-decoration: underline;
  }
}

body {
  background-color: #f5f5eb;
}

#top-bar {
  background-color: #052F45;
  border-bottom: 1px solid #042333;
  height: 50px;
  position: fixed;
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 999;

  .menu-toggle {
    @include border-radius(4px);
    border: none;
    background-color: #547d92;
    float: left;
    margin: 8px 16px;
    padding: 9px 10px 5px;
    color: white;

    .icon-bar {
      background-color: white;
      @include border-radius(1px);
      display: block;
      height: 2px;
      margin-bottom: 4px;
      width: 22px;
    }
  }

  .menu-brand {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    float: left;
    padding: 10px 5px;
    font-size: 20px;
    line-height: 1.3em;
    color: white;

    img {
      height: 1.6em;
      margin-right: 0.3em;
    }

    span {
      vertical-align: middle;
    }
  }

  .menu-alerts {
    float: right;
    padding: 0.7em 1em;
    font-size: 20px;
    color: #F62E51;
  }
}

#loading-div {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
  }
}

.full-screen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 998;
}

#photo-modal {
  background-color: #000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width: 80%;
  max-height: 80%;
  position: absolute;
  padding: 1em;

  .close {
    height: 2em;
    width: 2em;
    margin: 1em;
    position: absolute;
    right: 0;
    top: 0;
    z-index: +1;
  }

  .open-full-size {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0.8em;
    font-size: large;
    z-index: +1;
  }

  #photo-holder {
    height: 100%;
    position: relative;

    img {
      max-height: 100%;
      max-width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%)
    }
  }
}

#side-menu {
  display: none;
  #menu {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 50px;
    width: 250px;
    background-color: #052F45;
    border-right: 1px solid #042333;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
    z-index: 1000;

    #login-info {
      color: #ccc;
      padding: 10px;
    }

    ul {
      list-style: none outside none;
      padding-left: 0;

      li {
        .glyphicon {
          color: #aaa;
          margin-right: 0.6em;
        }

        a {
          padding: 10px;
          display: block;
          font-size: 12pt;
          color: #f5f5eb;

          &:focus {
            text-decoration: none;
          }

          &:hover {
            background-color: #04293b;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

div#photo-display {
  text-align: center;

  div.photo-container {
    position: relative;
    display: inline-block;

    img.close {
      position: absolute;
      height: 1.5em;
      right: 0;
      margin: 0.3em;
      cursor: pointer;
    }
  }
}

img.photo {
  width: 200px;
  height: 200px;
}

.upload-div {
  border: 1px solid #02614A;
  padding: 0.6em;
  margin: 1em;
  text-align: center;
  background-color: #ffffff;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  .uploading {
    color: #bb7100;
    font-size: larger;
  }
}

.fileupload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
  z-index: 100;
}

@media screen \9
{
  #fileupload {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}

.seamail-autocomplete-parent {
  position: relative;

  .to-autocomplete-list {
    list-style-type: none;
    background-color: white;
    padding: 0;
    position: absolute;
    width: 100%;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: -2px;
    font-size: larger;
    z-index: 200;

    .to-autocomplete-item {
      border-top: 1px solid #aaa;
      padding: 0.2em 0.4em;
      cursor: pointer;

      &:hover {
        background-color: #BFEEFC;
        box-shadow: 0 0 4px 4px white inset;
      }
    }
  }
}

.seamail-to-users {
  .to-user {
    margin-right: 0.2em;
    border: 1px solid #aaa;
    padding: 0.2em 0.6em;
    display: inline-block;
    cursor: pointer;
    margin-top: 0.4em;
    @include border-radius(4px);

    span {
      color: red;
      top: 0.2em;
    }
  }
}

.clearfix {
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.main-page-header {
  @extend .clearfix;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 1em;

  .title {
    font-size: larger;
    font-weight: bold;

    a {
      color: #8D031C;
      &:hover, &:focus {
        outline: none;
        color: #F62E51;
        text-decoration: none;
      }
    }
  }

  .controls {
    float: right;

    a {
    }
  }

  &.header-with-controls {
    min-height: 1.25em;
  }
}

.display_card {
  background-color: #FFF;
  border: 1px solid #000;
  margin-bottom: 0.6em;

  .card_title {
    @extend .clearfix;
    margin: 0.2em 0.4em;
    font-size: larger;
  }

  .card-section {
    @extend .clearfix;
    border-top: 1px solid lightgrey;
    padding: 0.2em;
    margin: 0.2em 0.4em;

    &.clickable {
      cursor: pointer;
      &:hover {
        background-color: #BFEEFC;
      }
    }

    &:first-child {
      border-top: 0;
    }

    .title {
      font-size: medium;
      .star {
        height: 25px;
        width: 20px;
        vertical-align: bottom;
      }

      &.big-title {
        font-size: large;
      }
    }

    .timestamp {
      float: right;
      color: darkgrey;
    }

    .description {
      display: block;
      width: 100%;
      float: left;
    }

    .body {
      font-size: large;

      .body-section {
        @extend .clearfix;
        word-wrap: break-word;
        &.photos {
          text-align: center;
          padding-bottom: 0.4em;
          img {
            cursor: pointer;
          }
        }
      }
    }

    .form {
      @extend .clearfix;
      padding: 0.2em 0.2em 0;

      .label {
        color: darkgray;
        font-size: small;
        word-wrap: break-word;
      }

      .data {
        font-size: medium;
        margin-bottom: 0.5em;
        word-wrap: break-word;
      }
    }

    .controls {
      float: right;
      div {
        text-align: right;
      }
    }
  }

  .section-with-photo {
    min-height: 56px;

    .section-photo {
      position: absolute;
    }

    .title, .timestamp, .body, .controls, .form {
      margin-left: 60px;
    }
  }

  .section-with-profile-photo {
    .section-photo {
      float: left;
      img {
        max-width: 110px;
        max-height: 110px;
      }
    }

    .title, .timestamp, .body, .controls, .form {
      margin-left: 115px;
    }
  }
}

.calendar-nav {
  div {
    text-align: center;
    height: 1.66em;
    line-height: 1.66em;
    font-size: larger;
  }
}

.profile_photo {
  height: 50px;
  width: 50px;
}

.footer-controls {
  margin-bottom: 0.6em;
  .card-section {
    display: inline-block;
    &:last-child {
      float: right;
    }
  }
}

.alert {
  &.alert-warning {
    font-weight: bold;
    color: orangered;
  }
}

.hidden {
  display: none;
}

@media (max-width: 550px) {
  .top-bar-search {
    display: none;
  }
}

.form-group {
  max-width: 20em;
}

.form-control {
  width: 100%;
}

.highlight {
  color: red;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}
