//  BOOTSTRAP OVERRIDES
body {
  padding: 50px 0 70px;
}

.main {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1000px;
}

h1, h2, h3 {
  margin-top: 10px;
}

.like-button {
  margin-right: 10px;
}

@media (max-width: 767px) and (min-width: 480px) {
  .form-group {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.navbar .nav > li > a.active, .navbar .nav > li > a.active:hover, .navbar .nav > li > a.active:focus {
  background-color: #E5E5E5;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125) inset;
  color: #555555;
  text-decoration: none;
}

.navbar-center {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-brand {
  font-size: 20px;
}

a:hover, a:focus {
  text-decoration: none;
  background-color: #F6F0F6;
}

//  OTHER STYLES
@media (min-width: 767px) {
  .post-autocomplete {
    position: absolute;
  }
}

@media (max-width: 767px) {
  .post-autocomplete {
    position: absolute;
  }
}

.post-entry {
  background-color: #E0F6FF;
  border-color: darkgray -moz-use-text-color;
  border-left: medium solid;
  border-right: medium solid;
  border-style: solid;
  border-width: 1px medium;
  margin: -1px 0;
  padding: 10px;
}

.announcement-entry {
  background-color: #ffffc8;
  border-color: darkgray -moz-use-text-color;
  border-left: medium solid;
  border-right: medium solid;
  border-style: solid;
  border-width: 1px medium;
  margin: -1px 0;
  padding: 10px;
}

.seamail-entry {
  background-color: #ECF6FF;
  border-color: darkgray -moz-use-text-color;
  border: medium solid;
  border-width: 1px medium;
  margin: 12px 0;
  padding: 10px;
  width: 100%;
}

.post-details {
  margin-top: 6px;
  color: #606060;
}

.validation-error-group {
  margin-bottom: 2px;
}

.validation-error {
  color: red;
}

.post-reply {
  margin: 10px auto;
}

#app-loading {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}

.margin-right-20 {
  margin-right: 20px;
}

.full-width {
  width: 100%;
}

.box-sizing-border {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.bottom-menu {
  a {
    min-width: 80px;
  }
}

.bottom-menu-rounded {
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  right: 0;
  left: auto;
  max-width: 600px;
  min-width: 100px;
  padding: 0 20px;
}

.image-row {
  img {
    border: 1px solid darkgray;
    margin: 0 10px;
  }
}

.popular-tag {
  margin: 2px;
  padding: 1px 5px;
}

.tag-cloud {
  margin: 10px auto;
  border: 1px solid lightgreen;
  border-radius: 5px;
  max-width: 500px;
  padding: 0.3em;
  h4 {
    margin-top: 0;
  }
}

.scroll-gradient-1 {
  background: -moz-linear-gradient(left, rgba(182, 224, 38, 0.2) 0%, rgba(132, 185, 31, 0.6) 20%, rgba(56, 127, 21, 1) 50%, rgba(125, 183, 32, 0.6) 80%, rgba(171, 220, 40, 0.2) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(182, 224, 38, 0.2)), color-stop(20%, rgba(132, 185, 31, 0.6)), color-stop(50%, rgba(56, 127, 21, 1)), color-stop(80%, rgba(125, 183, 32, 0.6)), color-stop(100%, rgba(171, 220, 40, 0.2))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(182, 224, 38, 0.2) 0%, rgba(132, 185, 31, 0.6) 20%, rgba(56, 127, 21, 1) 50%, rgba(125, 183, 32, 0.6) 80%, rgba(171, 220, 40, 0.2) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(182, 224, 38, 0.2) 0%, rgba(132, 185, 31, 0.6) 20%, rgba(56, 127, 21, 1) 50%, rgba(125, 183, 32, 0.6) 80%, rgba(171, 220, 40, 0.2) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(182, 224, 38, 0.2) 0%, rgba(132, 185, 31, 0.6) 20%, rgba(56, 127, 21, 1) 50%, rgba(125, 183, 32, 0.6) 80%, rgba(171, 220, 40, 0.2) 100%); /* IE10+ */
  background: linear-gradient(to right, rgba(182, 224, 38, 0.2) 0%, rgba(132, 185, 31, 0.6) 20%, rgba(56, 127, 21, 1) 50%, rgba(125, 183, 32, 0.6) 80%, rgba(171, 220, 40, 0.2) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33b6e026', endColorstr='#33abdc28', GradientType=1); /* IE6-9 */
  height: 10px;
}

.scroll-gradient-2 {
  background: -moz-linear-gradient(left, rgba(182, 224, 38, 0.6) 0%, rgba(56, 127, 21, 1) 50%, rgba(171, 220, 40, 0.6) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(182, 224, 38, 0.6)), color-stop(50%, rgba(56, 127, 21, 1)), color-stop(100%, rgba(171, 220, 40, 0.6))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(182, 224, 38, 0.6) 0%, rgba(56, 127, 21, 1) 50%, rgba(171, 220, 40, 0.6) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(182, 224, 38, 0.6) 0%, rgba(56, 127, 21, 1) 50%, rgba(171, 220, 40, 0.6) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(182, 224, 38, 0.6) 0%, rgba(56, 127, 21, 1) 50%, rgba(171, 220, 40, 0.6) 100%); /* IE10+ */
  background: linear-gradient(to right, rgba(182, 224, 38, 0.6) 0%, rgba(56, 127, 21, 1) 50%, rgba(171, 220, 40, 0.6) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99b6e026', endColorstr='#99abdc28', GradientType=1); /* IE6-9 */
  height: 10px;
}

.scroll-gradient-3 {
  background-color: #387F15;
  height: 10px;
}

#photo-thumb-viewer {
  .file-attached {
    margin-bottom: 20px;
    margin-right: 10px;
    display: inline-block;
    position: relative;

    img {
      position: relative;
    }

    .file-attached-delete {
      display: none;
      position: absolute;
      left: 4px;
      top: 4px;
      background-color: orange;

      &:hover {
        background-color: red;
      }
    }
    &:hover .file-attached-delete {
      display: block;
    }
  }
}

.to-users-list {
  list-style-type: none;
  border: 0;
  padding: 0;
  li {
    display: inline;

    &:after {
      content: ', ';
      margin-left: -0.2em;
    }
    &:last-of-type:after {
      content: '';
    }
  }
}

.navbar {
  min-height: 35px;
}

.post-time {
  color: darkgray;
}

.post-text {
  font-size: larger;
}

.post-user {
  font-weight: bold;
  font-size: larger;
  color: #444444;
}

.reply {
  border: 1px solid darkgray;
  margin: 0.5em;
  padding: 0.5em;
  .post-reply-user {
    color: #222255;
  }
}

.post-reply .form-horizontal {
  margin: 10px 6px;
}

.loading-gif {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
}

.loading-div {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9999;
}

.navbar-default .new-email-border {
  background-color: orangered;
  &:hover, &:focus {
    background-color: orangered;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .form-control {
    font-size: 16px;
  }
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1400;
}

.modal-dialog {
  margin-top: -270px;
  padding: 0;
  text-align: center;
  top: 50%;
}

.modal-content {
  display: inline-block;
}

.modal-body {
  padding: 5px;
}

@media (max-width: 480px) {
  .form-horizontal .form-group {
    margin-left: -10px;
    margin-right: -10px;
  }

  .main {
    padding: 0;
  }

  h1, h2, h3 {
    margin: 10px;
  }

  .form-horizontal {
    margin: 0 10px;
  }

  .like-button {
    margin-right: 20px;
  }

  .tag-cloud {
    margin: 10px;
  }
}

