@-webkit-viewport {
  width: device-width;
}

@-moz-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

@mixin border-radius($radius: 5px) {
  border-radius: $radius;
}

.input {
  width: 100%;
  border: 1px solid #ccc;
  font-size: large;
  margin-top: 0.3em;
  @include border-radius(4px);
  padding: 0.1em 0.4em;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

  &.input-short {
    width: 10em;
  }

  &:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    border-color: #66afe9;
  }
}

.errors-list {
  color: darkred;
  list-style: none;
}

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

#app-loading {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}

#main {
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px;
  margin-top: 50px;
  padding: 1em;
}

.static-main {
  margin-top: 1em;
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px;
  padding: 1em;
}

@media (max-width: 480px) {
  #main {
    padding-left: 0;
    padding-right: 0;
  }
  .static-main {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 767px) and (min-width: 480px) {
  #main {
    padding-left: 10px;
    padding-right: 10px;
  }
  .static-main {
    padding-left: 10px;
    padding-right: 10px;
  }
}

#help_page {
  h4 {
    margin-top: 1.5em;
  }

  .bold {
    font-weight: bold;
  }
}

.button {
  box-shadow: 1px 1px rgba(0, 0, 0, 0.5), 1px 1px 1px rgba(255, 255, 255, 0.3) inset;
}

.btn {
  @extend .button;
  @include border-radius(3px);
  border: 1px outset #8D031C;
  padding: 4px 7px;
  background-color: #FFCA73;
  color: #000000;

  &:hover, &:focus {
    outline: none;
    color: #8D031C;
    text-decoration: none;
  }
}

.btn-link {
  border-color: transparent;
  background-color: transparent;
  color: #337ab7;
  padding: 0.2em;

  &:hover, &:focus {
    color: #2a6496;
    text-decoration: underline;
  }
}

body {
  background-color: #CBFCF0;
}

#top-bar {
  background-color: #FFECCE;
  border-bottom: 1px solid #02614A;
  height: 50px;
  position: fixed;
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 100;

  .menu-toggle {
    @extend .button;
    @include border-radius(4px);
    background-color: #6BECCC;
    border: 1px solid #02614A;
    float: left;
    margin: 8px 16px;
    padding: 9px 10px 5px;

    .icon-bar {
      background-color: #02614A;
      @include border-radius(1px);
      display: block;
      height: 2px;
      margin-bottom: 4px;
      width: 22px;
    }
  }

  .menu-brand {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    float: left;
    padding: 10px;
    font-size: 18px;
    color: #444;

    img {
      height: 1.6em;
      margin-right: 0.3em;
    }

    span {
      vertical-align: middle;
    }
  }

  .menu-alerts {
    float: right;
    padding: 0.7em 1em;
    font-size: 20px;
    color: #F62E51;
  }
}

#loading-div {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
  }
}

.full-screen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
}

#photo-modal {
  background-color: #000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width: 80%;
  max-height: 80%;
  position: absolute;
  padding: 1em;

  .close {
    height: 2em;
    width: 2em;
    margin: 1em;
    position: absolute;
    right: 0;
    top: 0;
    z-index: +1;
  }

  .open-full-size {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0.8em;
    font-size: large;
    z-index: +1;
  }

  #photo-holder {
    height: 100%;
    position: relative;

    img {
      max-height: 100%;
      max-width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%)
    }
  }
}

#side-menu {
  display: none;
  #menu {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 50px;
    width: 250px;
    background-color: #222;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
    z-index: 1000;

    #login-info {
      color: #ccc;
      padding: 10px;
    }

    ul {
      list-style: none outside none;
      padding-left: 0;

      li {
        .glyphicon {
          color: #666;
          margin-right: 0.6em;
        }

        a {
          padding: 10px;
          display: block;
          font-size: large;

          &:focus {
            text-decoration: none;
          }

          &:hover {
            color: #4ca0e9;
            background-color: #333;
            text-decoration: none;
            .glyphicon {
              color: #999;
            }
          }
        }
      }
    }
  }
}

div#photo-display {
  text-align: center;

  div.photo-container {
    position: relative;
    display: inline-block;

    img.close {
      position: absolute;
      height: 1.5em;
      right: 0;
      margin: 0.3em;
      cursor: pointer;
    }

    img.photo {
      margin: 0 auto 0.6em;
      width: 200px;
      height: 200px;
    }
  }
}

#photo-upload-div {
  border: 1px solid #02614A;
  padding: 0.6em;
  margin: 1em;
  text-align: center;
  background-color: #ffffff;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  .uploading {
    color: #bb7100;
    font-size: larger;
  }
}

#fileupload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
  z-index: 100;
}

@media screen\9 {
  #fileupload {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}

.seamail-autocomplete-parent {
  position: relative;

  .to-autocomplete-list {
    list-style-type: none;
    background-color: white;
    padding: 0;
    position: absolute;
    width: 100%;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: -2px;
    font-size: larger;
    z-index: 200;

    .to-autocomplete-item {
      border-top: 1px solid #aaa;
      padding: 0.2em 0.4em;
      cursor: pointer;

      &:hover {
        background-color: #BFEEFC;
        box-shadow: 0 0 4px 4px white inset;
      }
    }
  }
}

.seamail-to-users {
  .to-user {
    margin-right: 0.2em;
    border: 1px solid #aaa;
    padding: 0.2em 0.6em;
    display: inline-block;
    cursor: pointer;
    margin-top: 0.4em;
    @include border-radius(4px);

    span {
      color: red;
      top: 0.2em;
    }
  }
}

.clearfix {
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.main-page-header {
  @extend .clearfix;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 1em;

  .title {
    font-size: larger;
    font-weight: bold;

    a {
      color: #8D031C;
      &:hover, &:focus {
        outline: none;
        color: #F62E51;
        text-decoration: none;
      }
    }
  }

  .controls {
    float: right;

    a {
      @extend button;
    }
  }

  &.header-with-controls {
    min-height: 1.25em;
  }
}

.display_card {
  background-color: #f8fffb;
  border: 1px solid #02614A;
  margin-bottom: 0.6em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

  .header {
    @extend .clearfix;
    margin: 0.2em 0.6em;
    padding: 0.5em 0.2em;

    .title {
      font-size: larger;
      font-weight: bold;
    }

    .controls {
      float: right;
    }
  }

  .card-section {
    @extend .clearfix;
    border-top: 1px solid lightgrey;
    padding: 0.2em;
    margin: 0.2em 0.4em;

    &.clickable {
      cursor: pointer;
      &:hover {
        background-color: #BFEEFC;
        box-shadow: 0 0 4px 4px white inset;
      }
    }

    &:first-child {
      border-top: 0;
    }

    .title {
      //      color: darkblue;
      &.big-title {
        font-size: medium;
      }
    }

    .timestamp {
      float: right;
      color: darkgrey;
    }

    .body {
      font-size: large;

      .body-section {
        @extend .clearfix;

        &.photos {
          text-align: center;
          padding-bottom: 0.4em;
          img {
            cursor: pointer;
          }
        }
      }
    }

    .form {
      padding: 0.2em 0.2em 0;

      .label {
        color: darkgray;
        font-size: larger;
      }
    }

    .controls {
      float: right;
    }
  }

  .section-with-photo {
    min-height: 56px;

    .section-photo {
      position: absolute;
    }

    .title, .timestamp, .body, .controls, .form {
      margin-left: 60px;
    }
  }

  .section-with-profile-photo {
    min-height: 112px;

    .section-photo {
      position: absolute;
      img {
        max-width: 110px;
        max-height: 110px;
      }
    }

    .title, .timestamp, .body, .controls, .form {
      margin-left: 115px;
    }
  }
}

.profile_photo {
  height: 50px;
  width: 50px;
}

.footer-controls {
  float: right;
  margin-bottom: 0.6em;
}

.alert {
  &.alert-warning {
    font-weight: bold;
    color: orangered;
  }
}

.hidden {
  display: none;
}

