<div>
  <span class="pull-right">
    {{#link-to "seamail.inbox" class="btn btn-info btn-xs"}}Inbox{{/link-to}}
    {{#link-to "seamail.archive" class="btn btn-info btn-xs"}}Archived{{/link-to}}
  </span>

  <h3>Sent Mail</h3>
  {{#each mail in controller.seamail}}
    <div class='seamail-entry container'>
      {{ render "seamail/details" mail }}
    </div>
  {{else}}
    {{#unless loading}}
      <div>
        No sent mail
      </div>
    {{/unless}}
  {{/each}}
  {{partial 'loading'}}
</div>
{{partial 'bottomMenu'}}
