<div class="main-page-header">
  <table style="width: 100%;">
    <tr>
      <td style="width: 2em;">
        <span class="glyphicon glyphicon-search"></span>
      </td>
      <td>
        {{input value=search_text class='input'}}
      </td>
      <td style="width: 3em; padding-left: 1em;">
        <button {{action 'search' search_text}}>Go</button>
      </td>
    </tr>
  </table>
</div>

