<div class="card-section section-with-photo clickable" {{action 'display_user' username}}>

  <div class="section-photo">
    {{user_picture username last_photo_updated}}
  </div>

  <span class="title">
    {{pretty_username username display_name}}
  </span>

</div>
