<h3>Users</h3>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th>Last Login</th>
    <th style="text-align: center;">Status</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  {{#each user in controller.users}}
    <tr>
      <td>{{ unbound user.username }}</td>
      <td>{{ unbound user.email }}</td>
      <td>{{ unbound user.last_login_readable }}</td>
      <td style="text-align: center;">
        {{#if user.is_locked}}
          <span title="User is deactivated" class="glyphicon glyphicon-lock" style="margin-left: 5px;"></span>
        {{/if}}
        {{#if user.is_admin}}
          <span title="User is an admin" class="glyphicon glyphicon-bullhorn" style="margin-left: 5px;"></span>
        {{/if}}
        {{#if user.empty_password}}
          <span title="User has an empty password" class="glyphicon glyphicon-warning-sign" style="margin-left: 5px;"></span>
        {{/if}}
      </td>
      <td style="text-align: right;">
        {{#if user.is_locked}}
          <a href="#" {{ action 'unlock' user.username }} class="margin-right-20">unlock</a>
        {{/if}}
        {{#link-to 'users.reset_password' user.username classNames="margin-right-20"}}reset password{{/link-to}}
        {{#link-to 'users.edit' user }}edit{{/link-to}}
      </td>
    </tr>
  {{/each}}
  </tbody>
  <tfoot>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td style="text-align: right;">
    {{#link-to 'users.new'}}new{{/link-to}}
  </td>
  </tfoot>
</table>

