<h3>Users</h3>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th style="text-align: center;">Status</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
    {{#each user in controller.users}}
    <tr>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td style="text-align: center;">
        {{#if user.is_locked}}
          <i title="User is deactivated" class="icon-lock"></i>
        {{/if}}
        {{#if user.is_admin}}
          <i title="User is an admin" class="icon-eye-open"></i>
        {{/if}}
        {{#if user.empty_password}}
          <i title="User has an empty password" class="icon-warning-sign"></i>
        {{/if}}
      </td>
      <td style="text-align: right;">
        {{#if user.is_locked}}
          <a href="#" {{ action 'unlock' user.username }} class="pad-right-20">unlock</a>
        {{/if}}
        {{#linkTo 'users.reset_password' user.username classNames="pad-right-20"}}reset password{{/linkTo}}
        {{#linkTo 'users.edit' user }}edit{{/linkTo}}
      </td>
    </tr>
    {{/each}}
  </tbody>
  <tfoot>
  <td></td>
  <td></td>
  <td></td>
  <td style="text-align: right;">
    {{#linkTo 'users.new'}}new{{/linkTo}}
  </td>
  </tfoot>
</table>

