<form class="form-horizontal">
  <legend>{{ username }}</legend>
  <div class="control-group">
    <label class="control-label">New password</label>

    <div class="controls">
      {{input type=password value=password}}
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button {{ action 'change_password' }}>Change password</button>
      <button {{ action 'cancel' }}>Cancel</button>
    </div>
  </div>
</form>