<!DOCTYPE html>
<html>
<head>
    <title>Twit-arr!</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= javascript_include_tag "application" %>
</body>
</html>