<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">
</head>
<body style="padding: 1em 0;">

<div id="main">

  <%= yield %>

</div>

</body>
</html>
